<!DOCTYPE html>
<html>
<head>


<%= auto_discovery_link_tag(:rss, feed_url(:format => :atom)) %>

  <title>RSS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
